.-btn {
  display: inline-block;
  background: var(--blanc);
  padding: 10px 20px;
  color: var(--bleu);
  border-radius: 10px;
  border: 2px solid var(--blanc);
  font-family: 'Source';
  font-size: 24px;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  @media (min-width: 1024px) {
    padding: 14px 28px 14px;
  }
  &:hover {
    background: transparent;
    color: var(--blanc);
  }
}
.-btn.-sm {
  padding: 8px 12px 6px;
}
.-btn.-xl {
  padding: 22px 14px;
}