@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Alice';
    src: url('../fonts/Alice-Regular.woff2') format('woff2'),
        url('../fonts/Alice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1-Medium.woff2') format('woff2'),
        url('../fonts/GothicA1-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1-SemiBold.woff2') format('woff2'),
        url('../fonts/GothicA1-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1-Regular.woff2') format('woff2'),
        url('../fonts/GothicA1-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source';
    src: url('../fonts/SourceSerifPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSerifPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* @font-face {
    font-family: 'Gothic A1';
    src: url('../fonts/GothicA1-Bold.woff2') format('woff2'),
        url('../fonts/GothicA1-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */


:root {
  --bleu: #14254C;
  --blanc: #F3F0E5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25;
  font-family: 'Source';
  @media (min-width: 1024px) {
    font-size: 20px;
  }
}
div[class^="page-"]:not(.page-publications), div[class*=" page-"]:not(.page-publications) {
  background: var(--bleu);
  color: var(--blanc);
  footer {
    background: var(--blanc);
    color: var(--bleu);
  }
}

.page-publications {
  background: var(--blanc);
  color: var(--bleu);
  footer {
    background: var(--bleu);
    color: var(--blanc);
  }
  header{
    background: var(--blanc);
    .-btn {
      background: var(--bleu);
      border-color: var(--bleu);
      color: var(--blanc);
      &:hover {
        background: transparent;
        color: var(--bleu);
      }
    }
    path {
      fill: var(--bleu);
    }
    rect {
      stroke: var(--bleu);
    }
    button{
      span {
        background: var(--bleu);
      }
    }
    ul {
      @media (max-width: 1023px) {
        background: var(--blanc);
      }
    }
  }
  footer{
    path {
      fill: var(--blanc);
    }
    rect {
      stroke: var(--blanc);
    }
  }
}

p, ul {
  font-family: 'Gothic A1';
}
h1, h2, h3, h4, h5 {
  font-family: 'Source';
}
.-h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 100%;
  /* letter-spacing: -0.05em; */
  @media (min-width: 640px) {
    font-size: 140px;
  }
  @media (min-width: 768px) {
    font-size: 200px;
  }
  @media (min-width: 1200px) {
    font-size: 260px;
  }
}

h2, .-h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 110%;
  @media (min-width: 1024px) {
    font-size: 40px;
  }
  @media (min-width: 1280px) {
    font-size: 54px;
  }
}

h3, .-h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  @media (min-width: 1024px) {
    font-size: 38px;
  }
  @media (min-width: 1280px) {
    font-size: 40px;
  }
}

h4, .-h4 {
  font-size: 22px;
  font-family: 'Gothic A1';
  @media (min-width: 768px) {
    font-size: 22px;
  }
  @media (min-width: 1024px) {
    font-size: 24px;
  }
  @media (min-width: 1280px) {
    font-size: 26px;
  }
}

.-h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}
.-h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 112%;
}
.page {
  padding-top: 30px;
  padding-bottom: 60px;
  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  @media (min-width: 1024px) {
    padding-top: 160px;
    padding-bottom: 90px;
  }
}
.content {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 1280px;
    padding: 0 40px;
  }
  @media (min-width: 1024px) {
    max-width: 1320px;
    padding: 0 60px;
  }
  &.-sm {
  max-width: 960px;
  }
}
header {
  padding: 20px;
  font-family: 'Source';
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  background: var(--bleu);
  @media (min-width: 1280px) {
    padding: 32px 60px;
    font-size: 22px;
  }
  @media (min-width: 1536px) {
    font-size: 24px;
  }
  .-btn {
    font-size: 20px;
    @media (min-width: 1280px) {
      font-size: 24px;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  ul {
    font-family: 'Source';
    @media (max-width: 1023px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: none;
      background: var(--bleu);
      width: 100%;
      text-align: center;
      padding: 120px 0 30px;
    }
    @media (min-width: 1024px) {
      display: flex;
      position: relative;
      gap: 12px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    li{
      @media (max-width: 1023px) {
        padding: 5px 0;
      }
    }
    a:not(.-btn) {
      position: relative;
      &::after{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -4px;
        left: 0;
        background: var(--blanc);
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 100ms;
        opacity: 0;
      }
      &.router-link-exact-active::after, &:hover::after{
        bottom: 0;
        opacity: 0.8;
      }
    }
  }
  button {
    position: relative;
    width: 40px;
    height: 40px;
    span{
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background: var(--blanc);
      &:first-child{
        transform: translateY(-4px);
      }
      &:last-child{
        transform: translateY(4px);
      }
    }
  }
  &[aria-open="true"] {
    button span {
      &:first-child{
        transform: rotate(45deg);
      }
      &:last-child{
        transform: rotate(-45deg);
      }
    }
    ul {
      @media (max-width: 1023px) {
      display: block;
      }
    }
  }
}
footer {
  padding: 100px 0 80px;
  nav{
    a {
      display: inline-block;
    }
  }
}
.Competences {
  h2{
    position: relative;
    padding-right: 60px;
    span {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      background: var(--blanc);
      height: 3px;
      width: 30px;
      @media (min-width: 768px) {
        height: 4px;
        width: 40px;
      }
      @media (min-width: 1280px) {
        height: 6px;
        width: 50px;
      }
      &::after{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 3px;
        height: 30px;
        background: var(--blanc);
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) .2s;
        @media (min-width: 768px) {
          width: 4px;
          height: 40px;
        }
        @media (min-width: 1280px) {
          width: 6px;
          height: 50px;
        }
      }
    }
  }
  .group[aria-open="true"] h2 span::after{
    opacity: 0;
    transform: translateY(-30%) translateX(-50%);
  }
  ul ul{
    list-style: square;
    padding-left: 40px;
    @media (min-width: 1024px) {
      padding-left: 50px;
    }
    @media (min-width: 1280px) {
      padding-left: 60px;
    }
    li{
      padding-left: 0px;
      @media (min-width: 1280px) {
        padding-left: 10px;
      }
    }
  }
}
.list{
  list-style: square;
  padding-left: 2rem;
  li{
    padding-left: 0.25rem;
  }
}
form {
  font-family: 'Gothic A1';
  font-weight: 400;
  ::placeholder {
    color: var(--bleu);
    opacity: 40%;
  }
  input, textarea, select, button{
    border-radius: 10px;
    padding: 10px 14px 8px;
    background: var(--blanc);
    color: var(--bleu);
  }
  textarea{
    height: 180px;
  }
  select {
      color: #A1A8B7;
    &, option {
      color: var(--bleu);
    }
    &:invalid,
    option[value=""] {
      color: #A1A8B7;
    }
  }
  button {

  }
}
.block {
  white-space: pre-line;
  ul{
    list-style: square;
    padding-left: 2rem;
    li{
      padding-left: 0.25rem;
    }
  }
  p, ul {
    text-align: justify;
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  h2, h3, h4, h5 {
    text-align: center;
  }
  h2 {
    &:not(:first-child) {
      margin-top: 60px;
    }
  }
  h3 {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
  h4 {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.page-enter-active,
.page-leave-active {
  /* transition: all 0.4s; */
}
.page-enter-from,
.page-leave-to {
  /* opacity: 0; */
}