@font-face {
    font-family: 'Gothic A1';
    src: url('subset-GothicA1-Medium.woff2') format('woff2'),
        url('subset-GothicA1-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic A1';
    src: url('subset-GothicA1-SemiBold.woff2') format('woff2'),
        url('subset-GothicA1-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic A1';
    src: url('subset-GothicA1-Regular.woff2') format('woff2'),
        url('subset-GothicA1-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothic A1';
    src: url('subset-GothicA1-Bold.woff2') format('woff2'),
        url('subset-GothicA1-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

