.-btn {
  display: inline-block;
  background: var(--blanc);
  color: var(--bleu);
  padding: 14px 28px 12px;
  border-radius: 4px;
  border: 2px solid var(--blanc);
  font-family: 'Alice';
  font-size: 24px;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  &:hover {
    background: transparent;
    color: var(--blanc);
  }
}
.-btn.-sm {
  padding: 8px 12px 6px;
}
.-btn.-xl {
  padding: 22px 14px;
}